.container {
    max-width: 1170px;
    margin: 0 auto;
}

.br-pad-section {
    border-bottom: 1px solid var(--border-section);
    padding: 87px 0 160px 0;
}

.title-section {
    font-weight: 300;
    font-size: 36px;
    line-height: 130%;
}

/* HEADER */

.header {
    padding: 30px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 52px;
}

.header__link {
    font-weight: 600;
    font-size: 15px;
    color: var(--black);
    transition: 0.3s ease;
}

.header__link:hover {
    color: var(--hover-link);
}

.header__button {
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 15px 35px;
    background: var(--blue);
    font-weight: 600;
    font-size: 15px;
    color: var(--white);
    transition: 0.2s ease;
}

.header__button:active {
    transform: scale(0.95);
}

/* MAIN SECTION SERVICES */

.services__title {
    text-align: center;
    margin-bottom: 21px;
}

.services__text {
    text-align: center;
    color: var(--gray);
    margin-bottom: 54px;
}

.services__cards-list {
    display: flex;
    gap: 30px;
}

.services__card-icon {
    margin-bottom: 27px;
}

.services__card-link {
    border: 1px solid var(--gray-two);
    border-radius: 5px;
    padding: 62px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;
    cursor: pointer;
}

.services__card-link:hover {
    background: var(--blue);
    border: none;
}

.services__card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 15px;
}

.services__card-text {
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--gray);
}

.services__card-link:hover .services__card-icon path {
    fill: var(--white);
}

.services__card-link:hover .services__card-title,
.services__card-link:hover .services__card-text {
    color: var(--white);
}

/* MAIN SECTION ARTICLES */

.articles__title {
    margin-bottom: 42px;
}

.articles__cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* justify-content: space-between; */
}

.articles__card-link {
    border-radius: 5px;
    display: flex;
    flex-basis: calc(50% - 15px);
    cursor: pointer;
    height: 180px;
    transition: 0.3s ease;
}

.articles__card-link:hover {
    background: var(--blue);
}

.articles__card-icon {
    border-radius: 5px 0 0 5px;
}

.articles__card-right {
    border-top: 1px solid var(--gray-two);
    border-right: 1px solid var(--gray-two);
    border-bottom: 1px solid var(--gray-two);
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    width: 100%;
}

.articles__card-link:hover .articles__card-right {
    border: none;
}


.articles__card-date {
    font-size: 10px;
    line-height: 150%;
    color: var(--gray);
}

.articles__card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 15px;
}

.articles__card-text {
    font-size: 14px;
    line-height: 150%;
    color: var(--gray);
    max-width: 210px;
}

.articles__card-link:hover .articles__card-date,
.articles__card-link:hover .articles__card-title,
.articles__card-link:hover .articles__card-text {
    color: var(--white);
}

/* MAIN SECTION CLIENTS */

.clients__title {
    margin-bottom: 42px;
}

.clients__cards-list {
    display: flex;
    gap: 30px;
}

.clients__card-item {
    border: 1px solid var(--gray-two);
    border-radius: 5px;
    padding: 51px 53px 32px 42px;
}

.clients__card-text {
    font-size: 14px;
    line-height: 180%;
    color: var(--gray);
    border-bottom: 1px solid var(--gray-two);
    padding-bottom: 33px;
    margin-bottom: 28px;
}

.clients__card-user {
    display: flex;
    align-items: center;
    gap: 17px;
}

.clients__user-img {
    border-radius: 100%;
    border: 2px solid var(--hover-link);
}

.clients__user-full_name {
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
}

.clients__user-position {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: var(--gray);
}

/* MAIN SECTION CONTACTS */

.contacts__title {
    margin-bottom: 109px;
}

.contacts__list {
    display: flex;
    justify-content: space-between;
}

.contasts__item {
    max-width: 214px;
}

.contacts__item-img {
    margin-bottom: 19px;
}

.contacts__item-title {
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
    margin-bottom: 30px;
}

.contacts__item-text {
    font-size: 14px;
    line-height: 180%;
    color: var(--gray);
    transition: 0.3s ease;
}

.contacts__item-link:hover {
    color: var(--hover-link);
}

/* MAIN SECTION JOIN-US */

.join-us {
    border-bottom: 1px solid var(--border-section);
    padding: 87px 0 122px 0;
}

.join-us__title {
    text-align: center;
    margin-bottom: 22px;
}

.join-us__text {
    font-size: 16px;
    text-align: center;
    color: var(--gray);
    margin-bottom: 30px;
}

.join-us__form {
    display: flex;
    align-items: flex-start;
    gap: 19px;
}

.join-us__form-left {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 19px;
}

.form__input {
    border: 1px solid #dadada;
    border-radius: 50px;
    padding: 15px 0 16px 28px;
    opacity: 0.6;
    width: 251px;
    height: 60px;
}

.input__text {
    font-size: 16px;
    line-height: 180%;
    color: var(--gray);
}

.join-us__form-right {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.form__textarea {
    border: 1px solid #dadada;
    border-radius: 20px;
    width: 520px;
    height: 139px;
    opacity: 0.6;
    resize: none;
    padding: 15px 28px;
}

.form__right-group {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 9px;
}

.form__right-button {
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px 35px;
    background: var(--hover-link);
    font-weight: 600;
    font-size: 15px;
    color: var(--white);
    width: max-content;
    transition: 0.3s ease;
    width: 230px;
    height: 60px;
}

.form__right-button:active {
    transform: scale(0.95);
}

.checkbox__flex {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox__label {
    font-size: 12px;
    text-align: center;
    color: #787878;
    margin-right: 14px;
}

.checkbox__link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #3172b9;
}

/* FOOTER */

.footer {
    padding: 45px 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer__logo-text {
    font-size: 12px;
    color: var(--gray);
}

.footer__group-nav {
    display: flex;
    align-items: center;
    gap: 56px;
}

.footer__menu-list {
    display: flex;
    gap: 28px;
}

.footer__menu-link {
    font-weight: 600;
    font-size: 15px;
    color: var(--gray);
    transition: 0.3s ease;
}

.footer__menu-link:hover {
    color: var(--blue);
}

.footer__social-list {
    display: flex;
    gap: 32px;
}

.footer__social-icon_fill path {
    transition: 0.3s ease;
}

.footer__social-icon_fill:hover path {
    fill: var(--blue);
}

.footer__social-icon_stroke path {
    transition: 0.3s ease;
}

.footer__social-icon_stroke:hover path {
    stroke: var(--blue);
}
