.contacts {
    padding: 87px 0 160px 0;
    border-bottom: 1px solid var(--gray-border);
}

.contacts__title {
    margin-bottom: 109px;
}

.contacts__list {
    display: flex;
    gap: 186px;
}

.contacts__item {
    height: 159px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.contacts__item:last-child {
    margin-left: 93px;
}

.contacts__item-title {
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
}

.constacts-flex {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.contacts__description {
    font-size: 14px;
    line-height: 180%;
    color: var(--gray-medium);
    max-width: 214px;
}

.contacts__link {
    font-size: 14px;
    color: var(--gray-medium);
    width: max-content;
    transition: 0.3s;
}

.contacts__link:hover {
    color: var(--blue-light);
}

.contacts__link:focus {
    outline: 1px solid var(--blue-light);
    outline-offset: 2px;
}

.contacts__link:active {
    color: var(--blue-dark);
}
